{% extends 'todo/base.html' %}



{% block body %}

<div class="content">
  <form action="{% url 'create' %}">
    <button type="submit" class="btn btn-primary btn-lg btn-block">MAKE TO DO</button>
  </form>
  
  <ul class="list-group">
    {% for todo in todos %}
    <li class="list-group-item"> 
      <h2><a href="{% url 'detail' todo.id %}" style="text-decoration: none">
        {{ todo.title }}</a></h2>
      <p>{{ todo.content }}</p>
      <p>{{ todo.limit }}</p>
      <div class="btn-group" role="group">
          <form class=”form-inline” action="{% url 'delete' todo.id %}">
            <button type="submit" class="btn btn-outline-danger">delete</button>
          </form>
          <form class=”form-inline” action="{% url 'update' todo.id %}">
            <button type="submit" class="btn btn-outline-success">edit</button>
          </form>
      </div>
    </li>
    {% endfor %}
  
  </ul>
</div>

{% endblock body %}
  